.ty-card {
  border-radius: var(--border-radius-4);
  background-color: var(--color-bg-2);
  color: var(--text-1);
  transition: box-shadow 0.5s;

  &__header {
    border-bottom: var(--border-1) solid var(--border-color-2);
    padding: var(--padding-2);
  }

  &__main {
    padding: var(--padding-2);
  }

  &.is-border {
    border: var(--border-1) solid var(--border-color-2);
  }

  &.is-shadow {
    box-shadow: var(--box-shadow-5);
  }

  &.is-hoverShadow {
    &:hover {
      box-shadow: var(--box-shadow-5);
    }
  }
}