.ty-caution {
  padding: var(--padding-4) var(--padding-6);
  border-radius: var(--border-radius-4);
  display: flex;
  align-items: center;
  &__content{
    width: 100%;
  }
  &__title {
    color: var(--text-1);
    font-weight: 500;
    font-size: 16px;
  }
  &__subTitle {
    color: var(--text-2);
    font-size: 14px;
    margin-top: 10px;
  }
}