.ty-datePicker {
  border-radius: var(--border-radius-4);

  color: var(--text-1);
  display: flex;
  position: relative;
  user-select: none;

  &__box {
    position: absolute;
    width: 100%;
    z-index: 5;
    padding: 10px;
    border: var(--border-1) solid var(--fill-3);
    background-color: var(--color-bg-5);
    // --bg-5
    box-shadow: var(--box-shadow-5);
    border-radius: var(--border-radius-4);
    // user-calendar: none;
    color: var(--text-1);
    box-sizing: border-box;

  }

  // ------------------------  input尺寸样式  ------------------------
  $inputSize: (
    mini,
    small,
    medium,
    large
  );

@mixin addInputSize($name) {
  &--#{$name} {
    height: var(--size-#{$name});
    line-height: var(--size-#{$name});
  }
}

@each $name in $inputSize {
  @include addInputSize($name);
}
}


[data-popper-placement="top"] {
  .ty-datePicker__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    /* 调整箭头大小 */
    border-color: var(--fill-3) transparent transparent transparent;
    z-index: -1;
    bottom: -13px;
    display: flex;

    /* 调整箭头颜色 */
    &::after {
      content: '';
      display: inline-block;

      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px;
      transform: translate(-8px, -9px);

      /* 调整箭头大小 */
      border-color: var(--color-bg-1) transparent transparent transparent;
    }
  }
}

[data-popper-placement="bottom"] {
  .ty-datePicker__arrow {
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    display: flex;

    top: 1px;
    border-style: solid;
    border-width: 6px;
    /* 调整箭头大小 */
    border-color: transparent transparent var(--fill-3) transparent;
    top: -13px;
    z-index: -1;

    /* 调整箭头颜色 */
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px;
      left: -50%;
      /* 调整箭头大小 */
      border-color: transparent transparent var(--color-bg-1) transparent;
      transform: translate(-8px, -7px);

    }
  }
}