.ty-empty{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
      color: var(--toyar-gray-5);

    span{
      font-size: 18px;
      margin-top: 4px;
      color: var(--toyar-gray-5);
    }
  }
}