.ty-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  &__label {
    width: 100px;
    text-align: right;
    height: 100%;
  }


  &__content {
    flex: 1;
    width: 100%;

    .ty-form-item__tip {
      position: absolute;
      color: var(--toyar-red-6);
      font-size: 12px;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

}

.is-require {
  .ty-form-item__label:before {
    content: '*';
    color: var(--toyar-red-6);
    line-height: 100%;
  }
}

.is-colon {
  .ty-form-item__label {
    .after {
      margin-right: 5px;
    }
  }
}