.ty-input {
  display: flex;
  width: 100%;
  position: relative;
  color: var(--text-1);
  background-color: var(--fill-2);
  border-radius: var(--border-radius-4);
  border: unset;
  box-sizing: border-box;
  // transition: all var(--time-5);
  overflow: hidden;
  transition:
    background-color var(--time-5),
    border-color var(--time-5); // 统一过渡动画

  &__outPre {
    background-color: var(--fill-2);
    border-right: 1px solid var(--border-color-2);
    color: var(--font-weight-4);
    font-size: var(--font-body-1);
    display: flex;
    align-items: center;

    :deep(.ty-button) {
      border-radius: 0;
    }
  }

  &__innerPre {
    height: 100%;
    display: flex;
    left: 10px;
    position: absolute;
    align-items: center;
  }

  &__innerAft {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
  }

  &__outAft {
    border-left: 1px solid var(--border-color-2);
    background-color: var(--fill-2);
    color: var(--font-weight-4);
    display: flex;
    align-items: center;
    font-size: var(--font-body-1);

    :deep(.ty-button) {
      border-radius: 0;
    }
  }

  input {
    width: 0;
    flex-grow: 1;
    padding: unset;
    border: unset;
    box-sizing: border-box;
    border-radius: var(--border-radius-4);
    outline: unset;
    color: var(--text-1);
    background-color: var(--fill-2);

    &.is-outPre {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.is-outAft {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // ------------------------  input尺寸样式  ------------------------
  $inputSize: (
    mini,
    small,
    medium,
    large
  );

@mixin addInputSize($size) {
  &--#{$size} {
    height: var(--size-#{$size});
    line-height: var(--size-#{$size});
  }
}

@each $size in $inputSize {
  @include addInputSize($size);
}

//  ------------------------  状态  -------------------------------
.is-clear {
  height: 100%;
  top: 0;
  display: none;


  .close {
    display: block;
  }

  .closeCircle {
    display: none;
  }

  &:hover {
    display: flex;
    align-items: center;

    .close {
      display: none;
    }

    .closeCircle {
      display: block;
    }

    cursor: pointer;
  }
}

.is-limit {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  color: var(--text-3);
  font-size: var(--font-body-1);
  padding: 0 10px;
}

&:hover:not(.is-disabled) {
  background-color: var(--fill-3);

  .ty-input__outPre {
    border-color: var(--border-color-3);
    background-color: var(--fill-3);
  }

  .ty-input__outAft {
    background-color: var(--fill-3);
    border-color: var(--border-color-3);
  }

  input {
    background-color: var(--fill-3);
  }

  .is-clear {
    display: flex;
    align-items: center;
  }

  .ty-input__innerAft {
    display: none;
  }
}

&.is-focus:not(.is-disabled) {
  background-color: unset;
  border: 1px solid var(--primary-6);

  input {
    background-color: unset;
  }
}

&.is-error {
  border: 1px solid var(--danger-6);
}

&.is-disabled {
  background-color: var(--fill-2);
  color: var(--text-4);

  input {
    color: var(--toyar-gray-4);
    background-color: var(--fill-1);
    cursor: no-drop;
  }
}

&.is-readonly {
  background-color: var(--fill-2);
  color: var(--text-4);

  input {
    color: var(--toyar-gray-4);
    background-color: var(--fill-1);
    // cursor: no-drop;
  }
}
}