.ty-logConsole {
  width: 100%;
  border: solid 1px var(--toyar-gray-10);
  background-color: var(--toyar-gray-10);
  color: var(--toyar-gray-1);
  position: relative;

  &__header {
    height: 40px;
    .ty-logConsole__icon{
      &:before {
				content: "";
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
        margin:14px 0 0 20px;
				background-color: var(--toyar-red-6);
				box-shadow: 20px 0 0 var(--toyar-orange-6), 40px 0 0 var(--toyar-green-6), 60px 0 0 var(--toyar-yellow-6);
			}
    }
  }
  &__content {
    overflow: auto;
    height: calc(100% - 80px);
  }
  &__item {
    display: flex;
    height: 30px;
    .ty-logConsole__index{
      width: 50px;
      margin-right: 10px;
      text-align: center;
      color: var(--toyar-gray-4);
      font-size: 12px;
      line-height: 30px;
    }
    .ty-logConsole__info{
      line-height: 30px;
    }
  }

  &__line {
    border-right: 1px solid var(--toyar-gray-1);
    height: calc(100% - 80px);
    width: 1px;
    top: 40px;
    position: absolute;
    left: 50px;
  }
  &__warn {
    color: var(--toyar-orange-6);
  }

  &__error {
    color: var(--toyar-red-6);
  }

  &__debugger {
    color: var(--toyar-green-6);
  }

  &__footer {
    position: absolute;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid var(--toyar-gray-1);
  }
}