:root {
  /* 主色 */
  --primary-7: var(--toyar-xblue-7);/*click*/
  --primary-6: var(--toyar-xblue-6);/*常规*/
  --primary-5: var(--toyar-xblue-5);/*hover*/
  --primary-4: var(--toyar-xblue-4);/*特殊场景*/
  --primary-3: var(--toyar-xblue-3);/*一般禁用*/
  --primary-2: var(--toyar-xblue-2);/*文字禁用*/
  --primary-1: var(--toyar-xblue-1);/*浅色/白底悬浮*/
  /* 链接色 */
  --link-7: var(--toyar-xblue-7);
  --link-6: var(--toyar-xblue-6);
  --link-5: var(--toyar-xblue-5);
  --link-4: var(--toyar-xblue-4);
  --link-3: var(--toyar-xblue-3);
  --link-2: var(--toyar-xblue-2);
  --link-1: var(--toyar-xblue-1);
  /* 成功色 */
  --success-7: var(--toyar-green-7);
  --success-6: var(--toyar-green-6);
  --success-5: var(--toyar-green-5);
  --success-4: var(--toyar-green-4);
  --success-3: var(--toyar-green-3);
  --success-2: var(--toyar-green-2);
  --success-1: var(--toyar-green-1);
  /* 警示色 */
  --warning-7: var(--toyar-orange-7);
  --warning-6: var(--toyar-orange-6);
  --warning-5: var(--toyar-orange-5);
  --warning-4: var(--toyar-orange-4);
  --warning-3: var(--toyar-orange-3);
  --warning-2: var(--toyar-orange-2);
  --warning-1: var(--toyar-orange-1);
  /* 错误色 */
  --danger-7: var(--toyar-red-7);
  --danger-6: var(--toyar-red-6);
  --danger-5: var(--toyar-red-5);
  --danger-4: var(--toyar-red-4);
  --danger-3: var(--toyar-red-3);
  --danger-2: var(--toyar-red-2);
  --danger-1: var(--toyar-red-1);

  /* 边框颜色 */
  --border-4:var(--toyar-gray-6);/*重色 按钮描边*/
  --border-3:var(--toyar-gray-4);/*深色 悬浮*/
  --border-2:var(--toyar-gray-3);/* 一般*/
  --border-1:var(--toyar-gray-2);/*浅色*/
  /* 填充颜色 */
  --fill-4:var(--toyar-gray-4);/*重/特殊场景*/
  --fill-3:var(--toyar-gray-3);/*深/灰底悬浮*/
  --fill-2:var(--toyar-gray-2);/*常规/白底悬浮*/
  --fill-1:var(--toyar-gray-1);/*浅/禁用*/
  /* 文字颜色 */
  --text-4:var(--toyar-gray-4);/*置灰信息*/
  --text-3:var(--toyar-gray-6); /*次要信息*/
  --text-2:var(--toyar-gray-8);/*次强调/正文标题*/
  --text-1:var(--toyar-gray-10);/*强调/正文标题*/
  --text-0:#fff;

  /* 字体大小 */
  --font-body-3 :14px; /*正文-常规*/
  --font-body-2 :13px; /*正文-常规-小*/
  --font-body-1 :12px; /*辅助文案/次要文案*/

  --font-caption:12px; /*水印文字*/
  --font-title-1:16px; /*标题小*/
  --font-title-2:20px; /*标题小*/
  --font-title-3:24px; /*标题小*/

  --font-dis-1:36px; /*运营标题小*/
  --font-dis-2:48px; /*运营标题中*/
  --font-dis-3:56px; /*运营标题大*/

  /* 字体粗细(字重) */
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  /* 尺寸  */
  --size-0: 0px;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;

  /* padding尺寸 */
  --padding-1:11px;
  --padding-2:12px;
  --padding-3:13px;
  --padding-4:14px;
  --padding-5:15px;
  --padding-9:19px;

  /* 组件尺寸 */
  --size-mini: 24px;
  --size-small: 28px;
  --size-medium: 32px;
  --size-large: 36px;

  /* 边框宽度 */
  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-3: 3px;

  /* 边框圆角 */
  --border-radius-0: 0px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-16: 16px;
  --border-radius-circle: 50%;

  /* 阴影 */
  --box-shadow-1: 0 0 1px rgba(0, 0, 0, 0.3);
  --box-shadow-2: 0 -2px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 0 20px rgba(0, 0, 0, 0.1);
  /* 时间 */
  --time-1:0.1s;
  --time-2:0.2s;
  --time-3:0.3s;
  --time-4:0.4s;
  --time-5:0.5s;
  --time-6:0.6s;
  --time-7:0.7s;
  --time-8:0.8s;
  --time-9:0.9s;

  --color-bg-1:var(--bg-1);
  --color-bg-2:var(--bg-2);
  --color-bg-3:var(--bg-3);
  --color-bg-4:var(--bg-4);
  --color-bg-5:var(--bg-5);

}