html[toyar-theme='dark'] {
  --toyar-red-2: #770611;
  --toyar-red-3: #A1161F;
  --toyar-red-4: #CB2E34;
  --toyar-red-5: #F54E4E;
  --toyar-red-6: #F76965;
  --toyar-red-7: #F98D86;
  --toyar-red-8: #FBB0A7;
  --toyar-red-9: #FDD1CA;
  --toyar-red-10: #FFF0EC;
  --toyar-orangered-1: #4D0E00;
  --toyar-orangered-2: #771E05;
  --toyar-orangered-3: #A23714;
  --toyar-orangered-4: #CC5729;
  --toyar-orangered-5: #F77E45;
  --toyar-orangered-6: #F9925A;
  --toyar-orangered-7: #FAAD7D;
  --toyar-orangered-8: #FCC6A1;
  --toyar-orangered-9: #FDDEC5;
  --toyar-orangered-10: #FFF4EB;
  --toyar-orange-1: #4D1B00;
  --toyar-orange-2: #793004;
  --toyar-orange-3: #A64B0A;
  --toyar-orange-4: #D26913;
  --toyar-orange-5: #FF8D1F;
  --toyar-orange-6: #FF9626;
  --toyar-orange-7: #FFB357;
  --toyar-orange-8: #FFCD87;
  --toyar-orange-9: #FFE3B8;
  --toyar-orange-10: #FFF7E8;
  --toyar-gold-1: #4D2D00;
  --toyar-gold-2: #774B04;
  --toyar-gold-3: #A26F0F;
  --toyar-gold-4: #CC961F;
  --toyar-gold-5: #F7C034;
  --toyar-gold-6: #F9CC44;
  --toyar-gold-7: #FADC6C;
  --toyar-gold-8: #FCE995;
  --toyar-gold-9: #FDF4BE;
  --toyar-gold-10: #FFFCE8;
  --toyar-yellow-1: #4D3800;
  --toyar-yellow-2: #785E07;
  --toyar-yellow-3: #A38614;
  --toyar-yellow-4: #CFB325;
  --toyar-yellow-5: #FAE13C;
  --toyar-yellow-6: #FBE94B;
  --toyar-yellow-7: #FCF374;
  --toyar-yellow-8: #FDFA9D;
  --toyar-yellow-9: #FEFEC6;
  --toyar-yellow-10: #FEFFF0;
  --toyar-lime-1: #2A4D00;
  --toyar-lime-2: #447006;
  --toyar-lime-3: #629412;
  --toyar-lime-4: #84B723;
  --toyar-lime-5: #A8DB39;
  --toyar-lime-6: #B8E24B;
  --toyar-lime-7: #CBE970;
  --toyar-lime-8: #DEF198;
  --toyar-lime-9: #EEF8C2;
  --toyar-lime-10: #FDFFEE;
  --toyar-green-1: #004D1C;
  --toyar-green-2: #046625;
  --toyar-green-3: #0A802D;
  --toyar-green-4: #129A37;
  --toyar-green-5: #1DB440;
  --toyar-green-6: #27C346;
  --toyar-green-7: #50D266;
  --toyar-green-8: #7EE18B;
  --toyar-green-9: #B2F0B7;
  --toyar-green-10: #EBFFEC;
  --toyar-cyan-1: #00424D;
  --toyar-cyan-2: #06616C;
  --toyar-cyan-3: #11838B;
  --toyar-cyan-4: #1FA6AA;
  --toyar-cyan-5: #30C9C9;
  --toyar-cyan-6: #3FD4CF;
  --toyar-cyan-7: #66DFD7;
  --toyar-cyan-8: #90E9E1;
  --toyar-cyan-9: #BEF4ED;
  --toyar-cyan-10: #F0FFFC;
  --toyar-blue-1: #001A4D;
  --toyar-blue-2: #052F78;
  --toyar-blue-3: #134CA3;
  --toyar-blue-4: #2971CF;
  --toyar-blue-5: #469AFA;
  --toyar-blue-6: #5AAAFB;
  --toyar-blue-7: #7DC1FC;
  --toyar-blue-8: #A1D5FD;
  --toyar-blue-9: #C6E8FE;
  --toyar-blue-10: #EAF8FF;
  --toyar-xblue-1: #000D4D;
  --toyar-xblue-2: #041B79;
  --toyar-xblue-3: #0E32A6;
  --toyar-xblue-4: #1D4DD2;
  --toyar-xblue-5: #306FFF;
  --toyar-xblue-6: #3C7EFF;
  --toyar-xblue-7: #689FFF;
  --toyar-xblue-8: #93BEFF;
  --toyar-xblue-9: #BEDAFF;
  --toyar-xblue-10: #EAF4FF;
  --toyar-purple-1: #16004D;
  --toyar-purple-2: #27066E;
  --toyar-purple-3: #3E138F;
  --toyar-purple-4: #5A25B0;
  --toyar-purple-5: #7B3DD1;
  --toyar-purple-6: #8E51DA;
  --toyar-purple-7: #A974E3;
  --toyar-purple-8: #C59AED;
  --toyar-purple-9: #DFC2F6;
  --toyar-purple-10: #F7EDFF;
  --toyar-pinkpurple-1: #42004D;
  --toyar-pinkpurple-2: #650370;
  --toyar-pinkpurple-3: #8A0D93;
  --toyar-pinkpurple-4: #B01BB6;
  --toyar-pinkpurple-5: #D92ED9;
  --toyar-pinkpurple-6: #E13DDB;
  --toyar-pinkpurple-7: #E866DF;
  --toyar-pinkpurple-8: #F092E6;
  --toyar-pinkpurple-9: #F7C1F0;
  --toyar-pinkpurple-10: #FFF2FD;
  --toyar-magenta-1: #4D0034;
  --toyar-magenta-2: #770850;
  --toyar-magenta-3: #A1176C;
  --toyar-magenta-4: #CB2B88;
  --toyar-magenta-5: #F545A6;
  --toyar-magenta-6: #F756A9;
  --toyar-magenta-7: #F97AB8;
  --toyar-magenta-8: #FB9EC8;
  --toyar-magenta-9: #FDC3DB;
  --toyar-magenta-10: #FFE8F1;
  --toyar-gray-1: #17171A;
  --toyar-gray-2: #2E2E30;
  --toyar-gray-3: #484849;
  --toyar-gray-4: #5F5F60;
  --toyar-gray-5: #78787A;
  --toyar-gray-6: #929293;
  --toyar-gray-7: #ABABAC;
  --toyar-gray-8: #C5C5C5;
  --toyar-gray-9: #DFDFDF;
  --toyar-gray-10: #F6F6F6;

  --bg-1:#17171A;
  --bg-2:#232324;
  --bg-3:#2a2a2b;
  --bg-4:#313132;
  --bg-5:#373739;

  --shadow-1:0 0 1px rgba(255, 255, 255, 0.3);
  --shadow-2:0 -2px 5px rgba(255, 255, 255, 0.1);
  --shadow-3:0 0 10px rgba(255, 255, 255, 255.1);
  --shadow-4: 0 0 20px rgba(255, 255, 255, 0.1);
  --shadow-5:0 4px 10px rgba(255,255,255,.1);

  --opcity-color-1:rgba(255, 255, 255, 0.1);
  --opcity-color-2:rgba(255, 255, 255, 0.2);
  --opcity-color-3:rgba(255, 255, 255, 0.3);
  --opcity-color-4:rgba(255, 255, 255, 0.4);
  --opcity-color-5:rgba(255, 255, 255, 0.5);


  --fill-white:#f6f6f6;
  --text-white:#4E5969;
  --tooltip:#373739
}