@use './tokens/_tokens.scss' as tokens;
@use './util/hexToRgbRow.scss' as hexToRgbRow;

html[toyar-theme='dark'],.ty-dark {
  $colors: tokens.$toyar-dark-colors;
  $bg-list: tokens.$toyar-bg-dark;
  $shadow-list: tokens.$toyar-shadow-dark;
  $opacity-list: tokens.$toyar-opacity-dark;
  $theme-map: tokens.$toyar-dark-theme-color-map;

  @each $color-name, $color-list in $colors {
    @for $i from 1 through 10 {
      --toyar-#{$color-name}-#{$i}: #{nth($color-list, $i)};
      --toyar-#{$color-name}-rs-#{$i}: #{hexToRgbRow.hex-to-rgb-raw(nth($color-list, $i))};
    }
  }

  @each $name, $value in $theme-map {
    @for $i from 1 through 7 {
      --#{$name}-#{$i}: var(--toyar-#{$value}-#{$i});
    }
  }

  @for $i from 1 through 5 {
    --bg-#{$i}: #{nth($bg-list, $i)};
  }

  @each $i, $shadow in $shadow-list {
    --shadow-#{$i}: #{$shadow};
  }

  @each $i, $opacity in $opacity-list {
    --opcity-color-#{$i}: #{$opacity};
  }

  --fill-white:#f6f6f6;
  --text-white:#4E5969;
  --tooltip:#373739;
  --menu:#232324;
  --menu-open:#2d2d2d;

  --color-secondary:rgba(var(--toyar-gray-rs-9),.08)
}