@use './tokens/_tokens.scss' as tokens;
@use './util/hexToRgbRow.scss' as hexToRgbRow;

html[toyar-theme='light'],.ty-light {
  $colors: tokens.$toyar-light-colors;
  $bg-list: tokens.$toyar-bg-light;
  $shadow-list: tokens.$toyar-shadow-light;
  $opacity-list: tokens.$toyar-opacity-light;
  $theme-map: tokens.$toyar-light-theme-color-map;

  @each $color-name, $color-list in $colors {
    @for $i from 1 through 10 {
      --toyar-#{$color-name}-#{$i}: #{nth($color-list, $i)};
      --toyar-#{$color-name}-rs-#{$i}: #{hexToRgbRow.hex-to-rgb-raw(nth($color-list, $i))};
    }
  }

  @each $name, $value in $theme-map {
    @for $i from 1 through 7 {
      --#{$name}-#{$i}: var(--toyar-#{$value}-#{$i});
    }
  }

  @for $i from 1 through 5 {
    --bg-#{$i}: #{nth($bg-list, $i)};
  }

  @each $i, $shadow in $shadow-list {
    --shadow-#{$i}: #{$shadow};
  }

  @each $i, $opacity in $opacity-list {
    --opcity-color-#{$i}: #{$opacity};
  }

  --fill-white:#fff;
  --text-white:#fff;

  --tooltip:#1d2129;
  --menu:var(--primary-6);
  --menu-open:#0c2135;

  --color-secondary:var(--toyar-gray-2);

}