@mixin fontSizeMixin {
  /*  ---------------------------------------   字体   --------------------------------------- */

  $fontList: (
    /* 水印文字 */
    caption:(12px),
    /*辅助文案/次要文案*/
    body-1:(12px),
    /*正文-常规-小*/
    body-2:(13px),
    /*正文-常规*/
    body-3:(14px),
    /*标题小*/
    title-1:(16px),
    /*标题中*/
    title-2:(20px),
    /*标题大*/
    title-3:(24px),
    /*运营标题小*/
    dis-1:(36px),
    /*运营标题中*/
    dis-2:(48px),
    /*运营标题大*/
    dis-3:(56px),
  );

//  --font-caption : 12px;
@each $name, $value in $fontList {
  --font-#{$name} : #{$value};
}


}