$red: #F76965;
$orangered: #F9925A;
$orange: #FF9626;
$gold: #F9CC44;
$yellow: #FBE94B;
$lime: #B8E24B;
$green: #27C346;
$cyan: #3FD4CF;
$blue: #5AAAFB;
$xblue: #3C7EFF;
$purple: #8E51DA;
$pinkpurple: #E13DDB;
$magenta: #F756A9;
$gray: #929293;


:export {
  red: $red;
  orangered: $orangered;
  orange: $orange;
  gold: $gold;
  yellow: $yellow;
  lime: $lime;
  green: $green;
  cyan: $cyan;
  blue: $blue;
  xblue: $xblue;
  purple: $purple;
  pinkpurple: $pinkpurple;
  magenta: $magenta;
  gray: $gray;
}