$red: #F53F3F;
$orangered: #F77234;
$orange: #FF7D00;
$gold: #F7BA1E;
$yellow: #FADC19;
$lime: #9FDB1D;
$green: #00B42A;
$cyan: #14C9C9;
$blue: #3491FA;
$xblue: #165DFF;
$purple: #722ED1;
$pinkpurple: #D91AD9;
$magenta: #F5319D;
$gray: #86909C;


:export {
  red: $red;
  orangered: $orangered;
  orange: $orange;
  gold: $gold;
  yellow: $yellow;
  lime: $lime;
  green: $green;
  cyan: $cyan;
  blue: $blue;
  xblue: $xblue;
  purple: $purple;
  pinkpurple: $pinkpurple;
  magenta: $magenta;
  gray: $gray;
}